<li class="nav-item">
    <!--<a class="nav-link js-scroll-trigger" href="#about">About</a>-->
    {% shape_clear_alternates Model %}
    {% shape_type Model "MenuItemLink" %}
    {{ Model | shape_render }}
</li>